HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.idea/vcs.xml


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
#.vscode/
#src/main/java/com/kam/prze/woj/queststore/model/
#src/main/java/com/kam/prze/woj/queststore/repository/
#src/main/java/com/kam/prze/woj/queststore/service/
#src/main/resources/static/
#src/main/resources/templates/
