<!--module.exports =  <!DOCTYPE HTML>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

<!--    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>-->

<!--    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>-->
<!--    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>-->
<!--    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>-->

<!--    <title>Welcome React </title>-->
<!--</head>-->

<!--<body>-->
<!--<main role="main" class="container">-->

<!--&lt;!&ndash;    <div class="starter-template">&ndash;&gt;-->
<!--&lt;!&ndash;        <h1>Spring Boot Web Thymeleaf Example</h1>&ndash;&gt;-->
<!--&lt;!&ndash;        <h2>&ndash;&gt;-->
<!--&lt;!&ndash;            <span th:text="'Hello, ' + ${message}"></span>&ndash;&gt;-->
<!--&lt;!&ndash;        </h2>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;    <ol>&ndash;&gt;-->
<!--&lt;!&ndash;        <li th:each="userClass : ${userClasses}" th:text="${userClass.name}"></li>&ndash;&gt;-->
<!--&lt;!&ndash;    </ol>&ndash;&gt;-->

<!--</main>-->
<!--</body>-->
<!--<script src="../js/welcomeReact.js"></script>-->

<!--</html>-->